@media screen and (max-width: 1015px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }


    /* Estilos padrão para telas grandes */
body {
    font-size: 16px;
}

/* Adaptação para telas de tamanho médio */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Adaptação para telas pequenas */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

}